/*
 * Light Design
 */

body {
    background-image: url('../img/EH_day.jpg');
    background-repeat: repeat;
    background-position: top left;
}

.color1 {
    background: #3D3D3F;
    color: #FFF;
}
.color2 {
    background: #00C786;
    color: #FFF;
}
.color3{
    background: #FFEC00;
    color: #3D3D3F;
}
.color2shade1 {
    background: #06ba80;
    color: #FFF;
}
.color2shade2 {
    background: #0bae79;
    color: #FFF;
}
.color2shade3 {
    background: #10a373;
    color: #FFF;
}
.color2shade4 {
    background: #14996e;
    color: #FFF;
}
.color2shade5 {
    background: #189069;
    color: #FFF;
}

.social-media li a {
    background: #FFEC00;
    color: #3D3D3F;
}
.social-media li a:hover {
    background: #3D3D3F;
    color: #FFEC00;
}
#teaser h2 {
    color: #FFEC00;
}
#register a {
    background: #3D3D3F;
    color: #FFF;
}
#register a:hover {
    background: #3D3D3F;
    color: #FFEC00;
}
#about a {
    color: #FFEC00;
}
#about a:hover {
    color: #FFF;
    text-decoration: none;
}
