/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'misobold';
    src: url('../font/miso-bold-webfont.eot');
    src: url('../font/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/miso-bold-webfont.woff') format('woff'),
         url('../font/miso-bold-webfont.ttf') format('truetype'),
         url('../font/miso-bold-webfont.svg#misobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'misolight';
    src: url('../font/miso-light-webfont.eot');
    src: url('../font/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/miso-light-webfont.woff') format('woff'),
         url('../font/miso-light-webfont.ttf') format('truetype'),
         url('../font/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'misoregular';
    src: url('../font/miso-regular-webfont.eot');
    src: url('../font/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/miso-regular-webfont.woff') format('woff'),
         url('../font/miso-regular-webfont.ttf') format('truetype'),
         url('../font/miso-regular-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    padding-top: 50px;
    font-family: 'misoregular', sans-serif;
}
.container {
    position: relative;
	max-width: 870px;

}
ul {
    list-style: none;
}
#quotes .row-fluid:first-child {
    margin-bottom: 20px;
}

.social-media {
    margin: 0;
}

.social-media li {
    float: right;
    margin: 0 0 10px 10px;
}
.social-media li a {
    font-family: 'misobold', sans-serif;
    padding: 2px 20px;
    background: #FFEC00;
    font-size: 1.2em;
    color: #3D3D3F;
    text-decoration: none;
    text-transform: uppercase;
}
.social-media li a:hover {
    text-decoration: none;
}
#teaser {
    margin: 0 0 50px 0;
}
#teaser h1 {
    margin: 0;
    font-size: 10em;
    text-transform: uppercase;
    padding: 20px 20px 0;
    line-height: 0.8em;
    text-align: center;
    font-weight: normal;
    font-family: 'misobold',sans-serif;
}
#teaser h1 span.lightning{
    background-image: url('../img/strom_icon.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 120px;
}
#teaser h2 {
    margin: 0;
    font-family: 'misolight', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    line-height: 0.9em;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
}
#teaser h3 {
    margin: 0;
    font-size: 7em;
    text-transform: uppercase;
    padding: 0 0 15px;
    line-height: 0.8em;
    text-align: center;
    font-weight: normal;
    font-family: 'misolight',sans-serif;
    }

blockquote {
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 20px 30px 0;
    border: none;
    line-height: 1em;
}
blockquote:before {
    font-family: 'Arial', sans-serif;
    content: "\201D";
    font-size: 6.250em;
    margin-right: .25em;
    float: left;
    padding-top: 50px;
}
.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    padding: 5px 20px;
    display: inline-block;
}

.skills {
margin-bottom: 0 !important;

}

.review {
margin-bottom: 50px	 !important;

}

.bulletlist {
list-style-type: square;
font-size: 1.5em;
padding: 0 20px;
}

.bulletlist li {
padding: 10px 0;

}

#challenges .heading {
    display: block;
}

h4 {
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 1.5em;
    line-height: 1em;
}

h5 {
    padding: 0;
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0 0.5em;
}

h6 {
    font-size: 1.1em;
}

p {
    padding: 0 20px 20px 20px;
    font-size: 1.5em;
}

.contact-area {
    margin-top: 2em;
    font-size: 0.8em;
    line-height: 1.5em;
}

.contact-area a {
    color: #fff;
}

.contact-area p {
    padding: 0;
}

.spaceless {
    margin: 0;
}
#challenges {
    margin-top: 50px;
    margin-bottom: 50px;
}
#challenges ul.thumbnails {
    padding: 0 20px;
}
#challenges .thumbnail {
    padding: 0;
    border: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
#challenges .thumbnail p {
    font-size: 1em;
    padding: 10px 0 0;
}
#challenges .heading {
    line-height: 1em;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}
#register a {
    text-align: center;
    text-decoration: none;
    font-size: 3.75em;
    text-transform: uppercase;
    line-height: 1.1em;
    margin-bottom: 50px;
}
#about, #video {
    padding: 20px 0 0 0;
    margin-bottom: 50px;
}
#about a:after {
    content: " >";
}
#map {
    height: 350px;
    margin-top: 10px;
}
#location {
    padding: 0;
    margin-bottom: 50px;
}
#schedule {
    text-align: center;
    margin-bottom: 50px;
}
#schedule p {
    padding: 20px 5px;
    font-size: 1.5em;
}
footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}
footer li {
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}
#switch {
    display: inline-block;
    height: 50px;
    left: 0;
    position: absolute;
    top: -35px;
    width: 88px;
    border: none;
}
.js-hidden {
    display: none;
}
#schedule .span2 {
    margin: 0;
    width: 145px;
    min-height: 235px;
}
.thumbnail > a {
    color: #3D3D3F;
}
.thumbnail > a:hover {
    text-decoration: none;
}

.leaflet-popup-content {
    color: black;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#teaser h1 {
        font-size: 7em;
    }
    #teaser h2 {
        font-size: 3em;
    }
    #teaser h3 {
        font-size: 5em;
    }
    #schedule p {
        font-size: 1em;
    }
    #schedule .span2 {
        margin: 0;
        width: 120px;
        min-height: 145px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #teaser h1 {
        font-size: 6em;
    }
    #teaser h1 span.lightning{
        background-image: none;
        padding-left: 0;
    }
    #teaser h2 {
        font-size: 2em;
    }
    #teaser h3 {
        font-size: 3em;
    }
    #register a {
        font-size: 4em;
    }
    footer .span2 img {
        padding: 20px;
    }
    #schedule .span2 {
        margin: 0;
        width: 100%;
        min-height: 145px;
    }
}

/* ==========================================================================
   LT IE9 Fixes
   ========================================================================== */

.lt-ie9 #teaser h1 {
    font-family: Arial,sans-serif;
    font-size: 6em;
}
.lt-ie9 #schedule .span2 {
    font-family: Arial,sans-serif;
    font-size: 0.6em;
}

/* ==========================================================================
   Responsive Video CSS via https://gist.github.com/jgarber/2302238
   ========================================================================== */

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
