---
layout: base
title: Energiedaten hacken!
desc: Energiewende hacken! Der Open-Data Energy-Hackday in Berlin macht die Stromversorgung und das Stromnetz besser verständlich und greifbar.
---

{% include header.html %}
{% include about.html %}
{% include challenges.html %}
<div id="location" class="row-fluid color2">
    <div class="span12">
        <h4>Ihr seid Softwareentwickler, hackt Hardware (z.B. mit Hilfe von Raspberry PI´s oder Arduino Boards), beschäftigt euch mit Design oder habt gute Ideen wie sich komplexe Themen gut kommunizieren lassen? Dann:</h4>
    </div>
</div>
<div id="register" class="row-fluid">
    <a href="http://energyhackberlin.eventbrite.com/#" class="span12" target="_blank" title="">Jetzt Anmelden!</a>
</div>
{% include location.html %}
{% include schedule.html %}
{% include video.html %}
