<div class="row-fluid spaceless visible-desktop">
    <div class="span2 heading color1">About</div>
</div>
<div id="about" class="row-fluid color2">
    <div class="span12">
        <p>Deutschland spricht über die Energiewende, über nachhaltige Versorgung und darüber, wie wir unseren Energieverbrauch in Zukunft einschränken und Energie effizienter nutzen können.</p>
        <p>Konkret: Wir wollen die Energiewende “hacken” und uns abseits theoretischer Diskussionen daran machen, Werkzeuge für die Zukunft zu bauen. Mit dem Hackday “Energy Hacks” wollen wir einen Schritt in die Richtung dieser Zukunft gehen und uns überlegen, welche Geräte und Anwendungen uns dabei helfen könnten, effizienter mit Strom umzugehen und das abstrakte Thema Stromversorgung und die Infrastruktur Stromnetz besser verständlich und greifbar zu machen. <a href="#" title="">Weiterlesen</a></p>
    </div>
</div>
