<div class="row-fluid spaceless">
    <div class="span2">
        <span class="heading color1">About</span>
    </div>
</div>
<div id="about" class="row-fluid color2">
    <div class="span12">
        <p>Deutschland spricht über die Energiewende, über nachhaltige Versorgung und darüber, wie wir unseren Energieverbrauch in Zukunft einschränken und Energie effizienter nutzen können.</p>
        <p>Mit dem Hackday “Energy Hacks” wollen wir einen Schritt in die Richtung dieser Zukunft gehen und uns überlegen, welche Geräte und Anwendungen uns dabei helfen könnten, effizienter mit Strom umzugehen und das abstrakte Thema Stromversorgung und die Infrastruktur Stromnetz besser verständlich und greifbar zu machen. Konkret: Wir wollen die Energiewende “hacken” und uns abseits theoretischer Diskussionen daran machen, Werkzeuge für die Zukunft zu bauen. <a id="readmore" href="#" title="">Weiterlesen</a></p>
        <p id="more" class="js-hidden">In Ländern wie den USA und <a href="http://fi.okfn.org/energy-hackathon-2013/" target="_blank">Finnland</a> hat man sich diesen Themen und Fragestellungen auf <a href="http://fi.okfn.org/energy-hackathon-2013/" target="_blank">Hackdays</a> und in <a href="http://appsforenergy.challenge.gov/" target="_blank">App-Wettbewerben</a> bereits angenommen und spannende Anwendungen und Tools für Verbraucher entwickelt. Auch in Deutschland ist es an der Zeit, sich auf kreative Weise mit dem Thema Stromversorgung und Verbrauch auseinanderzusetzen! Darum will “Energy Hacks” in Berlin Entwickler, Designer und Experten versammeln, um gemeinsam Anwendungen und Werkzeuge für die Energie der Zukunft zu entwickeln.</p>
    </div>
</div>
