<div id="challenges" class="row-fluid">
    <div class="span6 color3">
        <div class="heading color1">Challenge 1:<br />Stromversorgung besser verstehen</div>
        <p>Welcher Strom fließt durch das Berliner Netz? Wieviel verbraucht die Stadt, in welchen Verhältnis steht dieser Verbrauch und zu welchen Zeitpunkten ist der Verbrauch besonders hoch?</p>
        <h4>Gesucht:</h4>
        <p>Visualisierungen (für den öffentlichen Raum) und Apps für BürgerInnen.</p>
        <h4>Beispiele:</h4>
        <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                    <img src="img/challenges/example.jpg" alt="">
                    <p>Thumbnail caption...</p>
                </div>
            </li>
            <li class="span6">
                <div class="thumbnail">
                    <img src="img/challenges/example.jpg" alt="">
                    <p>Thumbnail caption...</p>
                </div>
            </li>
        </ul>
        <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                    <img src="img/challenges/example.jpg" alt="">
                    <p>Thumbnail caption...</p>
                </div>
            </li>
            <li class="span6">
                <div class="thumbnail">
                    <img src="img/challenges/example.jpg" alt="">
                    <p>Thumbnail caption...</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="span6 color3">
        <div class="heading color1">Challenge 2:<br />Energieeffizienz</div>
        <p>Wie können wir als Verbraucher effizienter mit Strom umgehen? Wieviel verbrauchen wir eigentlich, zu welchem Zeitpunkt und in welchem Verhältnis steht das zu den anderen Verbrauchern/ Städten?</p>
        <h4>Gesucht:</h4>
        <p>Hardware und Software Anwendungen, die zum Stromsparen anregen</p>
        <h4>Beispiele:</h4>
        <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                    <img src="img/challenges/example.jpg" alt="">
                    <p>Thumbnail caption...</p>
                </div>
            </li>
            <li class="span6">
                <div class="thumbnail">
                    <img src="img/challenges/example.jpg" alt="">
                    <p>Thumbnail caption...</p>
                </div>
            </li>
        </ul>
        <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                    <img src="img/challenges/example.jpg" alt="">
                    <p>Thumbnail caption...</p>
                </div>
            </li>
            <li class="span6">
                <div class="thumbnail">
                    <img src="img/challenges/example.jpg" alt="">
                    <p>Thumbnail caption...</p>
                </div>
            </li>
        </ul>
    </div>
</div>
