<div id="challenges" class="row row-eq-height">
    <div class="col-md-5 challenge-row">
        <div class="row">
            <div class="box box-header box-header-left box-light">
                <h1 class="text-uppercase">Challenge</h1>
            </div>
            <div class="box box-header box-header-right box-light">
                <h1 class="text-center">1</h1>
            </div>
        </div>
        <div class="row box box-light box-content">
            <div class="col-md-12">  
                <h3>1. Vor dem Blackout: Sensibilisierung</h3>
                <p>
                    Wie entsteht ein Blackout und welche Ausbreitung hat er? Wie könnte ein Stromausfalltraining aussehen, um Verbraucher/innen auf einen Stromausfall vorzubereiten? Wie könnte man sich in der Stadt orientieren?
                </p>
           
            
               <h4>Gesucht:</h4> 
               <p>Hardware-, Software-Anwendungen und Games, die auf einen Blackout vorbereiten</p>
            
            
           
                <p style="margin-bottom: 0; padding-bottom:0"><strong>Inspirationen:</strong></p>
                <ul class="itemization"> 
                    <li>Oculus Rift- Simulation eines Blackouts</li>
                    <li>Exit-Games: <a href="http://exit-game.de/de/spiel">http://exit-game.de/de/spiel</a></li>
                    <li>Europe’s energy dependency visualized <a href="http://energy.publicdata.eu/ee/vis.html">http://energy.publicdata.eu/ee/vis.html</a></li>
                </ul>
                <ul class="thumbnail-list">
                    <li><a href="https://www.oculus.com/en-us/"><img class="thumbnail" src="img/challenges/1-oculus-rift.jpg" alt="Occulus Rift"></a></li>
                    <li><a href="http://exit-game.de/de/spiel"><img class="thumbnail" src="img/challenges/2-exit-game.png" alt="Exit Game"></a></li>
                    <li><a href="http://energy.publicdata.eu/ee/vis.html"><img class="thumbnail" src="img/challenges/3-energy-dependency.png" alt="Energy Dependency Visualization"></a></li>
                </ul>
            </div>
        </div>
    </div>
            
    <div class="col-md-offset-2 col-md-5 challenge-row">
         <div class="row">
            <div class="box box-header box-header-left box-light">
                <h1 class="text-uppercase">Challenge</h1>
            </div>
            <div class="box box-header box-header-right box-light">
                <h1 class="text-center">2</h1>
            </div>
        </div>
            
        <div class="row box box-light box-content">
            <div class="col-md-12">
                <h3>2. Während des Blackouts: Crisis Response / Notfallservices </h3>
                <p>
                    Welche Services kann man anbieten, um auf die Bedürfnisse der Betroffenen zu reagieren. Welche Notfall-Kommunikationssysteme und Adhoc-Netzwerke können die Information und Kommunikation zwischen Bürger/innen und den Katastropenschützer/innen sicherstellen? Wie könnten Tools auch in anderen Krisensituationen (z.B. bei Flüchtlingsfragen) eingesetzt werden, wo es an einer Grundversorgung mangelt?
                </p>
                <h4>Gesucht:</h4> 
                <p>Visualisierungen (für den öffentlichen Raum) und Apps für Bürger/innen</p>
                <p style="margin-bottom: 0; padding-bottom:0"><strong>Inspirationen:</strong></p>
                <ul class="itemization"> 
                    <li>Eat Exchange <a href="http://ict4s.greenhackathon.com/#hacks">http://ict4s.greenhackathon.com/#hacks</a>, <a href="http://www.greenhackathon.com/2014/eatx-stockholm/">http://www.greenhackathon.com/2014/eatx-stockholm/</a> </li>
                    <li>CB Radio Box: <a href="https://itunes.apple.com/us/app/cb-radio-box/id512090426">https://itunes.apple.com/us/app/cb-radio-box/id512090426</a></li>
                    <li>Scanner Radio Delux, <a href="https://itunes.apple.com/us/app/scanner-radio-deluxe/id498405045">https://itunes.apple.com/us/app/scanner-radio-deluxe/id498405045</a></li>
                </ul>
                <ul class="thumbnail-list">
                    <li><a href="https://itunes.apple.com/us/app/scanner-radio-deluxe/id498405045 "><img class="thumbnail" src="img/challenges/4-scanner-radio.png" alt="Scanner Radio Deluxe≈"></a></li>
                    <li><a href="https://itunes.apple.com/us/app/cb-radio-box/id512090426"><img class="thumbnail" src="img/challenges/5-radio-box.png" alt="CB Radio Box"></a></li>
                    <li><a href=" http://www.greenhackathon.com/2014/eatx-stockholm/"><img class="thumbnail" src="img/challenges/6-eatx.png" alt="Scanner Radio Delux"></a></li>
                </ul>
           </div>
        </div>
    </div>
</div>
