<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="box box-header box-light">
                <h1 class="text-uppercase">Daten</h1>
            </div>
        </div>
        <div class="row box box-light nopadding">
            <div class="row">
                <div class="col-md-12 data-boxes">
                    <div class="col-md-2 box-schedule box-schedule-first">
                        <p><a href="http://insideenergy.org/2014/08/18/data-explore-15-years-of-power-outages/">Stromausfälle in den USA</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="http://www.netzdaten-berlin.de/web/guest/suchen/-/details/web-service-last-und-erzeugung-berlin">Stromlast und -erzeugung in Berlin</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p>Testdatensätze zur Simulation von Stromausfällen (folgt)</p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="https://github.com/smartB-energy/smartb-data">Strom&shy;verbrauch von SmartB für fast ein Jahr</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="http://www.solare-stadt.de">Solarkataster</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="http://enipedia.tudelft.nl/wiki/Portal:Power_Plants">Daten zu Kraftwerken weltweit</a></p>
                    </div>
                </div>
            </div>
            <div class="row data-content">
                <p>Daten für den Hackday sammeln und vervollständigen wir <a href="https://docs.google.com/document/d/1-eAXxLBk3stw_NVdXLXKvGltgUpmHDjvQb1YRSAwskU/edit?usp=sharing">hier</a>. Kennt ihr weitere nützliche Daten? - Dann fügt sie einfach hinzu.</p>
            </div>
        </div>
    </div>
</div>