<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="box box-header box-light">
                <h1 class="text-uppercase">Daten</h1>
            </div>
        </div>
        <div class="row box box-light nopadding">
            <div class="row">
                <div class="col-md-12 data-boxes">
                    <div class="col-md-2 box-schedule box-schedule-first">
                        <p><a href="http://insideenergy.org/2014/08/18/data-explore-15-years-of-power-outages/" target="_blank">Stromausfälle in den USA</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="http://www.netzdaten-berlin.de/web/guest/suchen/-/details/web-service-last-und-erzeugung-berlin" target="_blank">Stromlast und -erzeugung in Berlin</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="http://www.netzdaten-berlin.de/suchen/-/details/daten-ausfall-uw-gruppe-fur-energyhack-2015">Testdatensätze zur Simulation von Stromausfällen (Beispiel: UW-Gruppe)</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="https://github.com/smartB-energy/smartb-data" target="_blank">Strom&shy;verbrauch von SmartB für fast ein Jahr</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="https://offenedaten.de/dataset/synthetisches-lastprofil-eines-typischen-haushalts" target="_blank">Synthetische Lastprofile</a></p>
                    </div>
                    <div class="col-md-2 box-schedule">
                        <p><a href="http://enipedia.tudelft.nl/wiki/Portal:Power_Plants" target="_blank">Daten zu Kraftwerken weltweit</a></p>
                    </div>
                </div>
            </div>
            <div class="row data-content">
                <p>Daten für den Hackday sammeln und vervollständigen wir <a href="https://docs.google.com/document/d/1-eAXxLBk3stw_NVdXLXKvGltgUpmHDjvQb1YRSAwskU/edit?usp=sharing">hier</a>. Kennt ihr weitere nützliche Daten? - Dann fügt sie einfach hinzu.</p>
                <p>
                    Hie haben wir ein <a href="https://pad.okfn.org/p/Energyhack_Reloaded">Etherpad</a> für erste Ideen eingerichtet.
                </p>
                <p>
                    In diesem <a href="https://hackdash.org/dashboards/energyhack">Hackdash</a> können während des Hackathons die konkreten Projektideen eingepflegt werden.
                </p>
            </div>
        </div>
    </div>
</div>