<footer>
	<div class="container">
		<div class="row logos-org">
			<div class="col-12">
				<h3>Organisation</h3>
			</div>
			<div class="col-sm-12 col-md-4 logo"><a href="https://okfn.de"><img src="assets/img/okf.png" alt="Logo Open Knowledge Foundation"/></a></div>
			<div class="col-sm-12 col-md-4 logo"><a href="https://www.stromnetz-berlin.de"><img src="assets/img/sb.png" alt="Logo Stromnetz Berlin"/></a></div>
			<div class="col-sm-12 col-md-4 logo"><a href="http://www.windnode.de"><img src="assets/img/windnode.png" alt="Logo WindNODE"/></a></div>
		</div>
		<div class="row logos-partner">
			<div class="col-12">
				<h3>Partner</h3>
			</div>
			<div class="col-sm-12 col-md-3 logo"><a href="http://infralab.berlin"><img src="assets/img/InfraLabBerlin_Logo_Klein.png" alt="InfraLab"/></a></div>
			<div class="col-sm-12 col-md-3 logo"><a href="http://www.smartb.de/home/"><img src="assets/img/smartb.png" alt="SmartB"/></a></div>
			<div class="col-sm-12 col-md-3 logo"><a href="http://www.schneider-electric.de/de/"><img src="assets/img/Schneider_Electric.svg" alt="Schneider Electric"/></a></div>
			<div class="col-sm-12 col-md-3 logo"><a href="http://www.bwb.de"><img src="assets/img/BWB_logo_rgb.png" alt="Berliner Wasserbetriebe"/></a></div>
			<div class="col-sm-12 col-md-3 logo"><a href="https://www.technologiestiftung-berlin.de"><img src="assets/img/tsb.png" alt="Technologiestiftung Berlin"/></a></div>
			<div class="col-sm-12 col-md-3 logo"><a href="http://4-cast.de/"><img src="assets/img/4cast_W.png" alt="4-cast"/></a></div>
		</div>

		
		<div class="row logos-partner">
			<div class="col-12">
				<h3>Communitypartner</h3>
			</div>
			<div class="col-sm-12 col-md-3 logo"><a href="http://www.oklab-potsdam.de"><img src="assets/img/Logo_OKLab_Potsdam_W.svg" alt="OKLab Potsdam"/></a></div>
			</div>
		

		<!--
		<div class="row logos-partner">
			<div class="col-12">
				<h3>Sponsoren</h3>
			</div>
			<div class="col-sm-12 col-md-3 logo"><a href="http://www.flora-power.de"><img src="assets/img/florapower.png" alt="Florapower"/></a></div>
		</div>
		-->

		<div class="row">
			<div class="col-md-6 col-sm-12">
				<h3><a href="mailto:martin.koll@okfn.de">Kontakt</a></h3>
				<p>
					<a href="mailto:martin.koll@okfn.de">Martin Koll, OKF DE</a><br/>
					<a href="mailto:walter.palmetshofer@okfn.de">Walter Palmetshofer, OKF DE</a><br/>
					Tel.: +49 30 57703666 2
				</p>
				<p><a href="mailto:martin.koll@okfn.de">Sponsor werden</a></p>
				<p><a href="https://github.com/okfde/energyhack">Auf Github forken</a></p>
				<p><a href="https://twitter.com/EnergyHackB">Folge uns auf Twitter</a></p>
			</div>
			<div class="col-md-6 col-sm-12">
				<h3><a href="https://okfn.de/impressum/">Impressum</a></h3>
				<p>
					Open Knowledge Foundation Deutschland e.V.<br/>
					Singerstraße 109, 10179 Berlin<br/>
				</p>
				<p>Design: <a href="http://montebelo.org">montebelo.org</a></p>
				<p>Animation: <a href="https://github.com/tholman/ascii-morph">Ascii Morph</a></p>
			</div>
		</div>
	</div>
</footer>
