<footer class="row">
    <div class="row">
        <div class="row border">
            <div class="col-md-2">
                Ein Projekt von
            </div>
            <div class="col-md-7 vcenter">
                <img src="img/okf.png" alt="Logo Open Knowledge Foundation" style="background-color:white;" />
                <img src="img/sb.png" alt="Logo Stromnetz Berlin" />
            </div>
        </div>
        <div class="row border">
            <div class="col-md-2">
                Weitere Unterstützer
            </div>
            <div class="col-md-7">
                <img src="img/senwtf.png" alt="Sentasverwaltung für Wirtschaft Technologie und Forschung" />
            </div>
        </div>
        <div class="row border">
            <div class="col-md-5 column-border">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#">Kontakt</a>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#">Sponsor werden</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#">Auf Github forken</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 column-border">
                <div class="row"><div class="col-md-12">Impressum</div></div>
                <div class="row"><div class="col-md-12">Open Knowledge Foundation</div></div>
                <div class="row"><div class="col-md-12">Deutschland e.V.</div></div>
                <div class="row"><div class="col-md-12">Singerstraße 109, 10179 Berlin</div></div>
            </div>
            <div class="col-md-2 column-border">
                <div class="row"><div class="col-md-12">Design:</div></div>
                <div class="row"><div class="col-md-12">montebelo.org</div></div>
                <div class="row"><div class="col-md-12">Umsetzung</div></div>
                <div class="row"><div class="col-md-12">Open Knowledge Foundation</div></div>
            </div>
        </div>
    </div>
</footer>