<footer class="row">
   
    <div class="row border">
        <div class="col-md-2">
            Ein Projekt von
        </div>
        <div class="col-md-7 vcenter">
            <a href="http://okfn.de"><img src="img/okf.png" alt="Logo Open Knowledge Foundation" /></a>
            <a href="https://www.stromnetz-berlin.de"><img src="img/SB_logo1.png" alt="Logo Stromnetz Berlin" /></a>
        </div>
    </div>
    <div class="row border">
        <div class="col-md-2">
            Partner
        </div>
        <div class="col-md-7">
            <a href="https://www.berlin.de/sen/wirtschaft/"><img src="img/senwtf.png" alt="Sentasverwaltung für Wirtschaft Technologie und Forschung" /></a>
        </div>
    </div>
    <div class="row border">
        <div class="col-md-5 column-border">
            <div class="row">
                <div class="col-md-12">
                    <a href="#">Kontakt</a>
                    <p>
                        Helene Hahn<br />
                        Projektleiterin OKF DE<br />
                        Mail: helene.hahn AT okfn.de<br />
                        Tel.: +49 30 57703666 2 
                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#">Sponsor werden</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#">Auf Github forken</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 column-border">
            <div class="row"><div class="col-md-12"><a href="http://okfn.de/impressum/">Impressum</a></div></div>
            <div class="row"><div class="col-md-12">Open Knowledge Foundation</div></div>
            <div class="row"><div class="col-md-12">Deutschland e.V.</div></div>
            <div class="row"><div class="col-md-12">Singerstraße 109, 10179 Berlin</div></div>
        </div>
        <div class="col-md-2 column-border">
            <div class="row"><div class="col-md-12">Design:</div></div>
            <div class="row"><div class="col-md-12"><a href="http://montebelo.org">Martin Wunderer - montebelo.org</a></div></div>
            <div class="row"><div class="col-md-12">Umsetzung</div></div>
            <div class="row"><div class="col-md-12"><a href="http://okfn.de">Knut Perseke - Open Knowledge Foundation Deutschland</a></div></div>
        </div>
    </div>
    
</footer>