<nav id="navbar" class="navbar sticky-top navbar-toggleable-xl navbar-light bg-faded">
	<ul class="navbar-nav mx-auto">
		<li class="nav-item text-center">
			<a class="nav-link" href="#about">About</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#zeitplan">Zeitplan</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#challenges">Challenges</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#preise">Preise</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#anmelden">Anmelden</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#location">Location</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#rueckschau">Rückschau</a>
		</li>
	</ul>
</nav>
