<div class="banner">
	Diese Website ist Teil eines abgeschlossenen Projekts der Open Knowledge Foundation Deutschland und wird nicht mehr aktualisiert.
	Das gültige Impressum und die Datenschutzerklärung finden sich auf <a href="https://okfn.de/impressum">okfn.de/impressum</a>.
</div>

<nav id="navbar" class="navbar sticky-top navbar-toggleable-xl navbar-light bg-faded">
	<ul class="navbar-nav mx-auto">
		<li class="nav-item text-center">
			<a class="nav-link" href="#ueber">Über</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#zeitplan">Zeitplan</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#challenges">Challenges</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#preise">Preise</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#anmelden">Anmelden</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#location">Location</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link" href="#rueckschau">Rückschau</a>
		</li>
	</ul>
</nav>
