<div id="challenges" class="row-fluid">
    <div class="span12 color4">
 	   <div class="heading color1">
 	   	Preise:
 	   </div>
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img src="img/challenges/RP.png" alt="Raspberry PI" />
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="img/challenges/arduino.png" alt="Arduino" />
                </div>
            </li>
    	<li class="span4">
                <div class="thumbnail">
                    <img src="img/challenges/fuehrung.png" alt="Fuehrungen" />
                </div>
            </li>
    	</ul>
    </div>
</div>
                