<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="box box-header box-light">
                <h1 class="text-uppercase">Preise</h1>
            </div>
        </div>
        <div class="row box box-light">
            <div class="col-md-12 pricebox">
                <ul>
                    <li class="col-md-3">
                        <div class="prize-thumbnail">
                            <p>Arduino- und Raspberry PI-Sets</p>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="prize-thumbnail">
                            <p>Schwarzlicht-Minigolf</p>
                        </div>
                    </li>
            	   <li class="col-md-3">
                        <div class="prize-thumbnail">
                            <p>Buchpaket: Blackout, Der Marsianer, O’Reilly-Gutschein</p>
                        </div>
                    </li>
                    <li class="col-md-3">
                        <div class="prize-thumbnail">
                            <p>Survivalkit mit u.a. LED-Stirnlampen und Akkupacks</p>
                        </div>
                    </li>
            	</ul>
            </div>
            <div class="col-md-12">
                <p>
                    Diese Preise werden in den Kategorien “most technical”, “best design” und “funniest hack” vergeben. Außerdem wählt das Publikum ein Lieblingsprojekt aus. Unter allen Teilnehmenden verlosen wir <strong>2 Tickets zum Chaos Communication Congress<strong>.
                </p>
            </div>
        </div>
    </div>
</div>
                