<div id="quotes">
    <div class="row-fluid color2">
        <div class="span12">
            <blockquote>Wieso wissen wir so wenig über unseren Stromverbrauch und die Infrastruktur, die uns tagtäglich mit Energie versorgt?</blockquote>
        </div>
    </div>

    <div class="row-fluid color2">
        <div class="span12">
            <blockquote>Mit welchen cleveren Hacks und Anwendungen kann man Verbraucher zum Stromsparen anregen und darüber aufklären, wie unser Stromnetz funktioniert?</blockquote>
        </div>
    </div>
</div>
