<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="box box-header box-light">
                <h1 class="text-uppercase">Schedule</h1>
            </div>
        </div>
        <div class="row box box-light nopadding">
            <div class="col-md-12 nopadding">
                <div class="col-md-2 box-schedule">
                    <p><span class="clock"></span>11:00<br />Begrüßung</p>
                </div>
                <div class="col-md-2 box-schedule">
                    <p><span class="clock"></span>11:15<br />Impuls-Vorträge</p>
                </div>
                <div class="col-md-2 box-schedule">
                    <p><span class="clock"></span>12:00<br />Projektpitches</p>
                </div>
                <div class="col-md-2 box-schedule">
                    <p><span class="clock"></span>13:00<br />Mittagessen &amp; Hacken</p>
                </div>
                <div class="col-md-2 box-schedule">
                    <p><span class="clock"></span>19:30<br />Präsentationen und Preisverleihung</p>
                </div>
                <div class="col-md-2 box-schedule">
                    <p><span class="clock"></span>0:00<br />Ende</p>
                </div>
            </div>
        </div>
    </div>
</div>
