<div class="row-fluid spaceless">
    <div class="span8">
        <span class="heading color1">Schedule (parts of the program will be in English)</span>
    </div>
</div>
<div id="schedule" class="row-fluid">
    <div class="span2 color2">
        <p><span class="clock"></span>12:00<br />Begrüßung</p>
    </div>
    <div class="span2 color2shade1">
        <p><span class="clock"></span>12:30<br />Kurz- präsentationen & Projektpitches</p>
    </div>
    <div class="span2 color2shade2">
        <p><span class="clock"></span>13:30<br />Mittagssnack</p>
    </div>
    <div class="span2 color2shade3">
        <p><span class="clock"></span>14:00<br />Start des Entwicklertages</p>
    </div>
    <div class="span2 color2shade4">
        <p><span class="clock"></span>19:00<br />Zwischen- präsentationen und Preisverleihung</p>
    </div>
    <div class="span2 color2shade5">
        <p><span class="clock"></span><br />Open End</p>
    </div>
</div>
