<div class="row-fluid spaceless">
    <div class="span2 heading color1">Schedule</div>
</div>
<div id="schedule" class="row-fluid">
    <div class="span2 color2">
        <p>12:00<br />Begrüßung</p>
    </div>
    <div class="span2 color2shade1">
        <p>12:30<br />Kurz-Präsentationen</p>
    </div>
    <div class="span2 color2shade2">
        <p>13:30<br />Mittagssnack</p>
    </div>
    <div class="span2 color2shade3">
        <p>14:00<br />Start des Entwicklertages (Projektpitches)</p>
    </div>
    <div class="span2 color2shade4">
        <p>19:00<br />Zwischen- präsentationen der Ideen und Projekte</p>
    </div>
    <div class="span2 color2shade5">
        <p><br />Open End</p>
    </div>
</div>
