<div class="container">
<div class="row">
  <div class="col-md-12">
      <div class="row">
        <div class="box box-header box-light">
            <h1 class="text-uppercase">Fahrplan</h1>
        </div>
      </div>
      <div class="row box box-light">
        <div class="col-md-12 results">
          <h2>Freitag</h2>
          Auftaktveranstaltung Titel: "Urbane Daten: Moderne Stadt, selbstbestimmte Bürger" 
          
          <p>
15:00 Ankommen, Registrierung <br>
15:30 - 16:20 Session 1: Datenpolitik: Transparenz und Chance oder gläserner Bürger und neue Risiken? <br>
16:20 - 16:50 Vielfalt bereichert - Perspektivwechsel für neue Ideen <br>
17:10 - 18:00 Session 2: Digitalisierung, Energie und Smart City - was bedeutet das für mich? <br>
18:00 Snack<br>
18:00 Kick-off Hackathon: Begrüßung, Vorstellung der Daten, Finden der Teams<br>

19:30 Netzwerktreffen <br>

23:00 Nachtabschaltung <br>
</p>

<h2>Samstag</h2>

<p> 09:00 Frühstück <br>
10:00 Restart Hackathon <br>
11:00 EUREF-Campus Rundgang <br>
13:00 Essen & Hacken <br>
15:00 EUREF-Campus Rundgang <br>
19:00 Vorstellung der Ergebnisse <br>
20:00 Preisverleihung</p> 


         
          </div> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
