<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="box box-header box-light">
                    <h1 class="text-uppercase">Anmeldung</h1>
                </div>
            </div>
            <div class="row box box-light">
                <div class="col-md-12">
                    <div class="row">
                        <p>
                            Ihr interessiert euch für die Teilnahme am Hackday oder der Auftaktveranstaltung? Dann meldet euch gleich an!
                        </p>
                    </div>
                    <div class="row review box box-dark button signup">
                        <a href="https://www.eventbrite.com/e/energyhack-du-hast-die-wahl-tickets-6784999115?aff=hp">
                            <h1 class="text-uppercase text-center registration" id="register"></h1>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
