<div class="row-fluid spaceless">
    <div class="span6">
        <span class="heading color1">Expertenworkshop-Video</span>
    </div>
</div>
<div id="video" class="row-fluid color3">
    <div class="span12">
        <p> Zur Vorbereitung des Hack Days haben sich Experten und Wissenschaftlern aus dem Bereich Energie, mit Softwareentwicklern und Open Data Enthusiasten getroffen.
        Ziel des Workshops war es die thematischen Schwerpunkte für den Hack Day auszuarbeiten. Das folgende Video gibt einen kurzen Überblick über die Brainstorming- und Ideenfindungssessions des Treffens.
        </p>
        <div class="flex-video widescreen">
<iframe src="http://player.vimeo.com/video/65389151?title=0&amp;byline=0&amp;portrait=0&amp;color=41c7a5" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/65389151">Expertenworkshop für den Hackday "EnergyHack"</a> from <a href="http://vimeo.com/okf">Open Knowledge Foundation</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
    </div>
</div>
