<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="box box-header box-light">
                <h1 class="text-uppercase">Ergebnisse des Experten&shy;workshops</h1>
            </div>
        </div>
        <div class="row box box-light">
            <div class="col-md-12">
                <p>
                    Zur Vorbereitung des Hackdays wurde am 06. August 2015 ein interdisziplinärer Workshop mit Expert/innen aus dem Bereich Energie und Open Data durchgeführt. Ziel des Workshops war es, die thematischen Schwerpunkte für den Hackday auszuarbeiten. 
                </p>
                <p>
                    Diskutiert wurden die Probleme, vor denen ein Blackout Berliner/innen stellen würde, welche Daten benötigt werden, um Lösungen zu entwickeln und wie die Ergebnisse des Hackdays weitergenutzt werden könnten. Die Dokumentation des Workshops kann <a href="docs/workshop_blackout.pdf">hier</a> heruntergeladen werden.
                </p>
                <img src="img/workshop.jpg" alt="Workshop Blackout" style="display: block; margin: 0 auto">
            </div>
        </div>
    </div>
</div>