@font-face {
	font-family: 'Miso Regular';
	src: url('../font/miso/miso-regular-webfont.eot');
	src: url('../font/miso/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/miso/miso-regular-webfont.woff') format('woff'),
	url('../font/miso/miso-regular-webfont.ttf') format('truetype'),
	url('../font/miso/miso-regular-webfont.svg#misobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Miso Bold';
	src: url('../font/miso/miso-bold-webfont.eot');
	src: url('../font/miso/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/miso/miso-bold-webfont.woff') format('woff'),
	url('../font/miso/miso-bold-webfont.ttf') format('truetype'),
	url('../font/miso/miso-bold-webfont.svg#misobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Space Mono Regular';
	src: url('../font/space-mono/SpaceMono-Regular-webfont.eot');
	src: url('../font/space-mono/SpaceMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/space-mono/SpaceMono-Regular-webfont.woff') format('woff'),
	url('../font/space-mono/SpaceMono-Regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Space Mono Regular', sans-serif;
	color: #43A047;
	font-size: 20px;
	line-height: 30px;
}

h1, h2 {
	font-family: 'Miso Bold', sans-serif;
}

h3 {
	font-family: 'Miso Regular', sans-serif;
}

h1, h2 {
	font-size: 66px;
	line-height: 60px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
}

.logo_energyhack {
	max-height: 20px;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.timetable ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.timetable ul li {
	margin-left: 74px;
	text-indent: -74px;
}

#map {
	height: 400px;
}

#register {
	text-align: center;
}

footer {
	margin-top: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #43A047;
	color: #fff;
	margin-bottom: 0;
}

footer a {
	text-decoration: underline;
	color: #fff;
}

footer .row > div:first-of-type {
	margin-bottom: 12px;
}

.logo {
	text-align: center;
}

.logo img {
	max-height: 90px;
	margin-bottom: 60px;
	max-width: 95%;
}

.morph-section {
	width: 400px;
	height: 400px;
	max-width: 400px;
	max-height: 400px;
	line-height: 1em;

	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -200px;
	font-family: monospace;
	color: #fffe38;
	overflow: hidden;
	text-align: center;
}

.nav-item {
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
	color: #43A047;
}

.content .row {
	padding-top: 10px;
}

.teaser {
	padding-top: 60px;
}

.teaser h1, .teaser h2, .teaser h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.teaser h3 {
	text-align: center;
	font-size: 50px;
	line-height: 60px;
}

.ascii-art {
	text-align: center;
	width: 100%;
	overflow: hidden;
}
.ascii-art pre {
	margin-top: -50px;
	font-size: 9px;
	line-height: 1em;
	display: inline-block;
	overflow: hidden;
	color: #43A047;
	text-align: left;
	margin-bottom: 0;
}


@media (max-width: 934px) {
	.nav-item {
		margin-left: 4px;
		margin-right: 4px;
		font-size: 0.9em;
	}
	.ascii-art pre {
		font-size: 8px;
	}

}

@media (max-width: 780px) {
	.nav-item {
		font-size: 0.8em;
	}
	.ascii-art pre {
		font-size: 7px;
	}
}

@media (max-width: 700px) {
	.nav-item {
		margin-left: 0;
		margin-right: 0;
		font-size: 0.7em;
	}
	.ascii-art pre {
		font-size: 6px;
	}
}

@media (max-width: 640px) {
	.nav-item {
		font-size: 0.6em;
	}
	.ascii-art pre {
		font-size: 5px;
	}
}

@media (max-width: 576px) {
	.morph-section {
		width: 200px;
		height: 200px;
		max-width: 200px;
		max-height: 200px;
		margin-left: -100px;
		font-size: 0.4em;
	}

	#map {
		margin-left: 30px;
		margin-right: 30px;
	}

	.ascii-art pre {
		font-size: 4px;
	}
}

@media (max-width: 534px) {
	.navbar {
		display: none !important;
	}

}
