@font-face {
	font-family: 'Miso Regular';
	src: url('../font/miso/miso-regular-webfont.eot');
	src: url('../font/miso/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/miso/miso-regular-webfont.woff') format('woff'),
	url('../font/miso/miso-regular-webfont.ttf') format('truetype'),
	url('../font/miso/miso-regular-webfont.svg#misobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Miso Bold';
	src: url('../font/miso/miso-bold-webfont.eot');
	src: url('../font/miso/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/miso/miso-bold-webfont.woff') format('woff'),
	url('../font/miso/miso-bold-webfont.ttf') format('truetype'),
	url('../font/miso/miso-bold-webfont.svg#misobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Space Mono Regular';
	src: url('../font/space-mono/SpaceMono-Regular-webfont.eot');
	src: url('../font/space-mono/SpaceMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/space-mono/SpaceMono-Regular-webfont.woff') format('woff'),
	url('../font/space-mono/SpaceMono-Regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Space Mono Regular', sans-serif;
	color: #43A047;
	font-size: 20px;
	line-height: 30px;
}

h1, h2 {
	font-family: 'Miso Bold', sans-serif;
}

h3 {
	font-family: 'Miso Regular', sans-serif;
}

h1 {
	font-size: 132px;
	line-height: 120px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

h2 {
	font-size: 66px;
	line-height: 60px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
}

.timetable ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.timetable ul li {
	margin-left: 74px;
	text-indent: -74px;
}

#map {
	height: 400px;
}

#register {
	text-align: center;
}

header h3 {
	text-align: center;
	font-weight: bold;
}

footer {
	margin-top: 60px;
	padding-top: 60px;
	background-color: #43A047;
	color: #fff;
	margin-bottom: 0;
}

footer .row {
	padding-bottom: 60px;
}

footer a {
	text-decoration: underline;
	color: #fff;
}

.logo {
	display: inline-block;
	width: 32%;
	text-align: center;
}

.logo img {
	max-height: 120px;
}

header {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #43A047;
	color: #fff;
}

.morph-section {
	width: 400px;
	height: 400px;
	max-width: 400px;
	max-height: 400px;
	line-height: 1em;

	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -200px;
	font-family: monospace;
	color: #fffe38;
	overflow: hidden;
	text-align: center;
}
