<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% if page.title %}{{ page.title }} › {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.desc %}{{ page.desc }}{% endif %}">
	<link rel="icon" href="assets/favicon/favicon.ico">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/leaflet/leaflet.css" rel="stylesheet">
	<link href="assets/css/main.css" rel="stylesheet">
	<script src="assets/vendor/leaflet/leaflet.js"></script>
	<script src="assets/js/main.js"></script>
</head>
<body>
{% include oldbrowsers.html %}
{% include header.html %}
<div class="container">{{ content }}</div>
{% include footer.html %}
<!--{!--% include piwik.html %}-->
</body>
</html>

