<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} › {% endif %}{{ site.title }}</title>
        <meta name="description" content="{% if page.desc %}{{ page.desc }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="default-style" content="day">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/day.css" title="day">
        <link rel="stylesheet" href="css/night.css" title="night">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/styleswitcher.js"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    </head>
    <body style="zoom: 1;" onLoad="initialize()">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <header class="row-fluid social-media">
                <ul>
                    <li>
                        <a href="https://twitter.com/EnergyHackB">Twitter</a>
                    </li>
                    <li>
                        <a href="{{ site.github }}">GitHub</a>
                    </li>
                </ul>
            </header>
            <section>
                {{ content }}
            </section>
            <button onClick="switchStyleSheet()" id="switch" class="visible-desktop"></button>
        </div>
        <footer class="color1">
            <div class="container">
                <div class="row-fluid">
                    <div class="span3">
                        <ul>
                            <li><a href="mailto:{{ site.contact }}">Kontakt</a></li>
                            <li><a href="mailto:{{ site.contact }}">Sponsor werden</a></li>
                            <li><a href="{{ site.github }}">Auf Github forken</a></li>
                        </ul>
                        <ul>
                            <li>Impressum:</li>
                            <li>Open Knowledge Foundation Deutschland e.V.</li>
                            <li>Schlesische Str. 6, 10997 Berlin</li>
                        </ul>
                        <ul>
                            <li>Design:</li>
                            <li><a href="http://rainbow-unicorn.com/">Rainbow-Unicorn.com</a></li>
                            <li>Umsetzung:</li>
                            <li><a href="http://jan.brennenstuhl.me" title="Jan Brennenstuhl: Software, Web, Open Data">Jan Brennenstuhl</a></li>
                        </ul>
                    </div>
                    <div class="span2">
                    <a href="http://okfn.de">
                        <img src="/img/OKF_logo.png" alt="Open Knowledge Foundation Deutschland" />
                        </a>
                    </div>
                    <div class="span2">
                    <a href="http://www.stromnetz-berlin.de/de/index.htm">
                        <img src="/img/SB_logo1.png" alt="Stromnetz Berlin" />
                        </a>
                    </div>
                     <div class="span3">
                    <a href="http://www.fh-potsdam.de/">
                        <img src="/img/fhp.png" alt="FH Potsdam" />
                        </a>
                    </div>
                    <div class="span2">
                    <a href="http://opencities.net/Berlin">
                        <img src="/img/OC_logo.png" alt="Open Cities" />
                        </a>
                    </div>

                </div>
            </div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
