<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} › {% endif %}{{ site.title }}</title>
        <meta name="description" content="{% if page.desc %}{{ page.desc }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="default-style" content="day">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/day.css" title="day">
        <link rel="stylesheet" href="css/night.css" title="night">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/styleswitcher.js"></script>
			  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
				<!--[if lte IE 8]>
    			<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
				<![endif]-->

			<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>

	</head>
    <body onLoad="initialize()">
       {% include banner.html %}

    <!-- <div class="bg"> -->
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="wrapper">
            <div class="bg"></div>
            <div class="container">
               <!--  <div class="row"> -->
                    <header class="row social-media">
                        <ul>
                            <li>
                                <a href="https://twitter.com/EnergyHackB">Twitter</a>
                            </li>
                            <li>
                                <a href="{{ site.github_url }}">GitHub</a>
                            </li>
                            <li>
                                <a href="2013">2013</a>
                            </li>
                        </ul>
                    </header>
                <!-- </div> -->    
                {{ content }}
               
                {% include footer.html %}    
                    
                <button onClick="switchStyleSheet()" id="switch" class="styleswitch"></button>

            </div>
        </div>
                
        <!-- </div> -->

        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//piwik.okfn.de/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 11]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//piwik.okfn.de/piwik.php?idsite=11" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
